
<div class="card shadow border-0 mt-4 mb-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Stock Chart</h2>
                <hr />
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="co-6 text-end">
                <a asp-action="" class="btn btn-dark">
                    Create New Stock
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>
        </div>
        <div>
            <canvas id="myChart"></canvas>
            <canvas id="myChartBar"></canvas>
            <select id="dropdown-container">
                <option>-Select--</option>
            </select>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/datachart.js"></script>
}
